
    <div class="side-bar col-md-3">
        <div class="search-hotel">
            <h3 class="agileits-sear-head">Tìm kiếm...</h3>
            <form action="#" method="post">
                <input type="search" placeholder="Tên sản phẩm" name="search" required="">
                <input type="submit" value=" ">
            </form>
        </div>
        <!-- price range -->
        <div class="range">
            <h3 class="agileits-sear-head">Sắp xếp giá</h3>
            <ul class="dropdown-menu6">
                <li>

                    <div id="slider-range"></div>
                    <input type="text" id="amount" style="border: 0; color: #ffffff; font-weight: normal;" />
                </li>
            </ul>
        </div>
        <!-- //price range -->
        <!-- food preference -->
        <div class="left-side">
            <h3 class="agileits-sear-head">Danh mục</h3>
            <ul>
                <li>
                    <input type="checkbox" class="checked">
                    <span class="span">Vegetarian</span>
                </li>
                <li>
                    <input type="checkbox" class="checked">
                    <span class="span">Non-Vegetarian</span>
                </li>
            </ul>
        </div>
        <!-- //food preference -->
        <!-- discounts -->
        <div class="left-side">
            <h3 class="agileits-sear-head">Giảm giá</h3>
            <ul>
                <li>
                    <input type="checkbox" class="checked">
                    <span class="span">5%</span>
                </li>
                <li>
                    <input type="checkbox" class="checked">
                    <span class="span">10%</span>
                </li>
                <li>
                    <input type="checkbox" class="checked">
                    <span class="span">20%</span>
                </li>
                <li>
                    <input type="checkbox" class="checked">
                    <span class="span">30%</span>
                </li>
                <li>
                    <input type="checkbox" class="checked">
                    <span class="span">50%</span>
                </li>
                <li>
                    <input type="checkbox" class="checked">
                    <span class="span">60% trở lên</span>
                </li>
            </ul>
        </div>
        <!-- //discounts -->
        <!-- reviews -->
        <div class="customer-rev left-side">
            <h3 class="agileits-sear-head">Đánh giá</h3>
            <ul>
                <li>
                    <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <span>5.0</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <span>4.0</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <span>3.5</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <span>3.0</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <span>2.5</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- //reviews -->
    </div>