<li class="dropdown">
    <a href="#" class="dropdown-toggle nav-stylehead" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        Nhà sản xuất
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu multi-column columns-3">
        <div class="agile_inner_drop_nav_info">
            <div class="col-sm-6 multi-gd-img">
                <ul class="multi-column-dropdown">
                    <li>
                        <a href="product2.html">Kitchen & Dining</a>
                    </li>
                    <li>
                        <a href="product2.html">Detergents</a>
                    </li>
                    <li>
                        <a href="product2.html">Utensil Cleaners</a>
                    </li>
                    <li>
                        <a href="product2.html">Floor & Other Cleaners</a>
                    </li>
                    <li>
                        <a href="product2.html">Disposables, Garbage Bag</a>
                    </li>
                    <li>
                        <a href="product2.html">Repellents & Fresheners</a>
                    </li>
                    <li>
                        <a href="product2.html"> Dishwash</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 multi-gd-img">
                <ul class="multi-column-dropdown">
                    <li>
                        <a href="product2.html">Pet Care</a>
                    </li>
                    <li>
                        <a href="product2.html">Cleaning Accessories</a>
                    </li>
                    <li>
                        <a href="product2.html">Pooja Needs</a>
                    </li>
                    <li>
                        <a href="product2.html">Crackers</a>
                    </li>
                    <li>
                        <a href="product2.html">Festive Decoratives</a>
                    </li>
                    <li>
                        <a href="product2.html">Plasticware</a>
                    </li>
                    <li>
                        <a href="product2.html">Home Care</a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </ul>
</li>


