@model IEnumerable<DrugStore.Models.Role>
@{
    ViewBag.Title = "Danh sách quyền";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section id="admin-content" class="p-3">
    <h3 class="mb-3">Danh sách quyền</h3>
    <div class="row">
        <div class="col-md-8">
            <a href="/Roles/AddRoles" class="btn btn-primary">Thêm mới</a>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Tìm kiếm...">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-bordered table-hover mt-3">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên Quyền</th>
                <th>Mô Tả</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            @{ 
                var roles = Model.ToList();
            }
            @for (var i = 1; i <= roles.Count(); i++)
            {
                <tr>
                    <td>@i</td>
                    <td>@roles[i-1].Role_Name</td>
                    <td>@roles[i - 1].Description</td>
                    <td>
                        <a href="/Roles/EditRoles/@roles[i-1].Role_Id" class="btn btn-sm btn-info">
                            <i class="fa fa-pencil-square-o"></i>
                        </a>
                        <a href="/Roles/Detroys/@roles[i-1].Role_Id" class="btn btn-sm btn-danger">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @{ 
        if (Session["Detroys_Role"]!=null)
        {
        <script>
            alert('@Session["Detroys_Role"]');
        </script>
            Session.Remove("Detroys_Role");
        }
    }
</section>

