@model IEnumerable<DrugStore.Models.Category>
@{
    ViewBag.Title = "Categorys";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

    <section id="admin-content" class="p-3">
        <h3 class="mb-3">Danh sách loại thuốc</h3>
        <div class="row">
            <div class="col-md-8">
                <a href="AddCategorys" class="btn btn-primary">Thêm mới</a>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Tìm kiếm...">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-hover mt-3">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên loại thuốc</th>                    
                    <th style="width: 150px">#</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                }

                @foreach (var cate in Model)
                {
                    <tr>
                        <td>@i</td>
                       
                        <td>@cate.Cate_Name</td>
                        
                        <td>
                            <a href="@Url.Action("EditCategorys", "Categorys", new { id = cate.Cate_Id })" class="btn btn-sm btn-info"> <i class="fa fa-pencil-square-o"></i></a>                            
                            <a href="@Url.Action("Delete", "Categorys", new { id =cate.Cate_Id})" class="btn btn-sm btn-danger"> <i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    i++;

                }

            </tbody>
        </table>
    </section>

